# build output
dist/
.astro/

# dependencies
node_modules/

# logs
*.log
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.production

# editor
.vscode/
.idea/
.DS_Store

.vercel
